/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*--------------------*/



body {
	background-color: #0f1013;
	color: white;
	font-family: 'Times New Roman', Times, serif;
}

a {
	color: rgb(177, 175, 175);
}

li:hover .fa-solid,
li:hover a {
	color: white;
}



.admin-panel {
	display: flex;

}

.navigation-bar {
	padding: 20px;
	border-right: 1px solid rgb(31, 31, 31);
	flex: 1 1 auto;
}


li {
	display: flex;
	align-items: center;
	margin: 15px 0px 15px 0px;
	gap: 15px
}

.fa-solid {
	color: rgb(177, 175, 175);
}

.home-panel {
	padding: 20px;
	flex: 5 1 auto;
}

.home-panel-title {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 15px;
}

.box-statistic {
	display: flex;
	gap: 15px;
}

.box-info {
	background-color: #191a1f;
	flex: 1 1 auto;
	border-radius: 5px;
	height: 60px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 5px 0px 5px 15px;
}

.box-users__number {
	font-size: 24px;
	flex: 1 1 auto;
}

.box-users__text {
	flex: 1 1 auto;
}

.users-editor {
	margin-top: 20px;
	text-align: center;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	border-radius: 12px;
	overflow: hidden;
	width: 100%;

}

td {
	padding: 10px;
	background-color: #111316;
	color: white;
}

th {
	padding: 10px;
	background-color: #191a1f;
	color: white;
}

th,
td {
	border-bottom: 1px solid rgb(32, 31, 34);
	align-items: center;
}

.editor-buttons {
	display: flex;
	gap: 8px;
	justify-content: center;
}

.action-button {
	background-color: #191a1f;
	padding: 7px;
	border-radius: 5px;
}

.action-button:hover {
	background-color: #3b0404;
	padding: 7px;
	border-radius: 5px;
}


/*-----------*/

@media screen and (max-width: 900px) {
	.box-statistic {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

}

@media screen and (max-width: 530px) {
	a {
		display: none;
	}

	.navigation-bar {
		text-align: center;
	}
}