/* Загальні стилі */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
}

/* Шапка */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
    background-color: #111;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
}

/* Меню */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.nav .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

/* Пункти меню */
.nav .menu li {
    margin-left: 20px;
}

.nav .menu li a {
    color: rgb(236, 236, 236);
    font-size: 18px;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
    transition: background 0.5s ease, color 0.5s ease;
}

.nav .menu li a:hover {
    background-color: rgba(255, 0, 127, 0.15);
    color: #ff0077;
}

/* Загальне */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 0 10%;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    max-width: 600px;
    margin-bottom: 2rem;
}

.hero a {
    display: inline-block;
    padding: 0.8rem 2rem;
    background: #ee0077;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease;
}

.hero a:hover {
    background: #c10061bc;
}
