/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*--------------------*/


/* Загальні стилі */
body {
	background-color: #0f1013;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	color: white;
}

/* Шапка */
header {

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	border-bottom: solid 1px rgba(255, 255, 255, .2);
}

header h1 {
	margin: 0;
	font-size: 32px;
}

/* Меню */
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.menu {
	display: flex;
	gap: 30px;
	margin: 0px 0px 0px 20px;
}

.menu a {
	padding: 8px;
}

li {
	font-size: 18px;
}

li a {
	width: 100%;
}

.nav .menu li a {
	border-radius: 20px;
	transition: background 0.5s ease, color 0.5s ease;
}

.nav .menu li a:hover {
	background-color: rgba(255, 0, 127, 0.15);
	color: #ff0077;
}



/* Загальне */
.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	text-align: center;
	padding: 0 10%;
}

.container {}

.hero-title {
	font-size: 64px;
	font-weight: bold;
	margin: 20px;
}

.hero h2 {
	font-size: 3rem;
	margin-bottom: 1rem;
}

.hero p {
	font-size: 1.2rem;
	max-width: 600px;
	margin-bottom: 2rem;
}

.hero a {
	display: inline-block;
	padding: 0.8rem 2rem;
	background: #ee0077;
	border-radius: 30px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	transition: background 0.3s ease;
}

.hero a:hover {
	background: #c10061bc;
}

.video-bg {
	width: 100%;
	height: 100%;
}

@media screen and (max-width:950px) {
	.menu {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 10px;
	}
}

@media screen and (max-width:570px) {
	.menu {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
	}

	li {
		font-size: 16px;
	}
}